<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.code.product.mapper.AttrAttrgroupRelationMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.study.code.product.entity.AttrAttrgroupRelationEntity" id="attrAttrgroupRelationMap">
        <result property="id" column="id"/>
        <result property="attrId" column="attr_id"/>
        <result property="attrGroupId" column="attr_group_id"/>
        <result property="attrSort" column="attr_sort"/>
    </resultMap>

    <update id="updateAttrgroupRelation">
        update pms_attr_attrgroup_relation
        <set>
            attr_group_id = #{attrGroupId},
            <if test="attrId !=null and attrId != ''">
                attr_id = #{attrId},
            </if>
            <if test="attrSort !=null and attrSort != ''">
                attr_sort = #{attrSort},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateBatchByAttrId">
        UPDATE pms_attr_attrgroup_relation
        SET
        attr_group_id = CASE attr_id
        <foreach collection="entities" item="item" index="index" open="" separator="" close="">
            WHEN #{item.attrId} THEN #{item.attrGroupId}
        </foreach>
        END,
        attr_sort = CASE attr_id
        <foreach collection="entities" item="item" index="index" open="" separator="" close="">
            WHEN #{item.attrId} THEN #{item.attrSort}
        </foreach>
        END
        WHERE
        attr_id in
        <foreach collection="entities" item="item" index="index" open="(" separator="," close=")">
            #{item.attrId}
        </foreach>
    </update>

    <delete id="attrRelationDelete">
        delete from pms_attr_attrgroup_relation
        where
        <foreach collection="entities" item="item" open="(" separator=" or " close=")">
            attr_id = #{item.attrId} and attr_group_id = #{item.attrGroupId}
        </foreach>
    </delete>


</mapper>