<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.code.product.mapper.AttrAttrgroupRelationMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.study.code.product.entity.AttrAttrgroupRelationEntity" id="attrAttrgroupRelationMap">
        <result property="id" column="id"/>
        <result property="attrId" column="attr_id"/>
        <result property="attrGroupId" column="attr_group_id"/>
        <result property="attrSort" column="attr_sort"/>
    </resultMap>

    <update id="updateAttrgroupRelation">
        update pms_attr_attrgroup_relation
        set
            attr_id = #{attrId},
            attr_group_id = #{attrGroupId},
            attr_sort = #{attrSort}
        where id = #{id}
    </update>


</mapper>